.title {
    background-color: gray;
    text-align: center;
    height:60px;

}
.titleh2{
    padding-top:10px;
}
.productcar {
    background-color: rgb(43, 41, 41);
    height: 100px;
    display: inline-block;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 20px;
}
.col-12{
    background: white;
}
.col-3 {
    height: 100px;
    float: left;
    width: 50px;
    padding: 10px;
}
.btn {
    color: white;
    background-color:#70522a;
}
.product {
    padding-top: 15px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    align-content: center;
}
.productcar {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-left: 300px;
}
.card-img-top {
    padding-top:10px;
    width: 100%;
    height: 100%;
}
